altair             
anyio              
attrs              
autobahn           
charset-normalizer 
click              
decorator          
entrypoints        
fonttools          
GitPython          
importlib-metadata 
ipykernel          
ipython            
jsonschema         
jupyter-client     
jupyter-core       
jupyter-server     
jupyterlab         
jupyterlab-server  
kiwisolver         
lxml               
MarkupSafe         
mistune            
nbclassic          
nbclient           
nbconvert          
nbformat           
notebook           
numpy              
pandas             
plotly             
prometheus-client  
prompt-toolkit     
protobuf           
pyarrow            
Pygments           
pyparsing          
pyrsistent         
pywin32            
pywinpty           
regex              
requests           
scipy              
setuptools         
statsmodels        
streamlit          
Twisted            
yfinance           